{% extends "base.html" %}
{% block titulo %}
Editar Usuario
{% endblock %}
{% block contenido %}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column">
                <h3 class="is-size-3">Editar Usuario</h3>
                <form action="{{url_for('update_user')}}" method="post">
                    {# Enviar el id en un campo oculto #}
                    <input type="hidden" name="id" value="{{user[0]}}">
                    <label for="name">Nombre:</label>
                    <input value="{{user[1]}}" required type="text" class="form-control" placeholder="Nombre" name="name"
                        id="name">
                    <label for="email">Correo Electronico</label>
                    <input value="{{user[2]}}" required type="email" class="form-control" placeholder="Correo Electronico"
                        name="email" id="email">
                    <label for="phone">Teléfono</label>
                    <input value="{{user[3]}}" required type="text" class="form-control" placeholder="Teléfono"
                        name="phone" id="phone">
                    <label for="passwd">Contraseña</label>
                    <input required type="password" class="form-control" placeholder="Contraseña"
                        name="passwd" id="passwd">
                    <br>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{{url_for('index')}}" class="btn btn-primary">Volver</a>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}